### Sample calls to quixotic_api

In [2]:
import json
from urllib.request import urlopen
import pandas as pd

In [6]:
server_url = 'http://ec2-54-173-30-19.compute-1.amazonaws.com:8000/quixotic_api/'

In [17]:
def call_api(kind):
    response = urlopen(server_url + kind + "/")
    j = response.read().decode('utf-8')
    return pd.DataFrame(json.loads(j))

#### Events

In [18]:
event_df = call_api('events')

In [26]:
event_df.tail(5)

,end,start,title,user
26849,None,2017-08-17T21:49:23Z,Accepted: Continuum / Experian - Anaconda Ente...,1
26850,None,2017-08-17T21:49:27Z,"Accepted: JupyterCON demos sync @ Fri Aug 18, ...",1
26851,None,2017-08-17T21:49:37Z,"Accepted: Implementation Review @ Fri Aug 18, ...",1
26852,2017-08-18T02:00:00Z,2017-08-17T22:00:00Z,unavailable,1
26853,2017-08-23T00:00:00Z,2017-08-18T00:00:00Z,Zach Carwile Remote: Long Island,1

#### Timeblocks

In [20]:
timeblock_df = call_api('timeblocks')

In [21]:
timeblock_df.tail()

Empty DataFrame
Columns: []
Index: []

#### Users

In [22]:
user_df = call_api('users')

In [23]:
user_df.tail()

  email      name
0        zcarwile

#### Projects

In [24]:
projects_df = call_api('projects')

In [25]:
projects_df.tail()

Empty DataFrame
Columns: []
Index: []